In [1]:
import pandas as pd
import numpy as np

In [2]:
weather_df = pd.read_csv('flights_test_weather-2020.csv')

In [3]:
weather_df.rename(columns={'city': 'origin_city_name', 'date': 'fl_date'}, inplace=True)
#weather_df.head(5)
weather_df['origin_city_condn'] = np.nan

In [4]:
condition_dict = {'cloundy': ['Cloudy','Overcast'],
                  'sunny': ['Partly cloudy','Sunny'],
                  'low_snow' : ['Freezing drizzle','Patchy snow possible', 'Patchy light snow','Light snow'],
                  'snow': ['Light snow showers','Moderate or heavy snow with thunder','Light showers of ice pellets','Light sleet','Moderate snow','Patchy heavy snow','Patchy moderate snow','Moderate or heavy snow showers'],
                  'low_rainny': ['Mist','Patchy light drizzle','Light drizzle','Patchy rain possible','Light rain','Patchy sleet possible','Patchy light rain'],
                  'rainny': ['Light rain shower','Patchy freezing drizzle possible','Patchy light rain with thunder','Heavy rain at times','Light sleet showers','Moderate or heavy rain with thunder','Heavy rain','Light freezing rain','Moderate rain','Moderate or heavy rain shower','Moderate rain at times'],
                  'harzard': ['Thundery outbreaks possible','Blowing snow','Torrential rain shower','Freezing fog','Moderate or heavy freezing rain','Ice pellets','Fog','Moderate or heavy sleet','Heavy snow', 'Blizzard']
                 }

In [5]:
for key, conditions in condition_dict.items():
    for condition in conditions:
        weather_df.loc[weather_df['condition'] == condition, "origin_city_condn"] = key

In [6]:
weather_df.shape

(4897, 4)

In [7]:
weather_df.head(5)

,fl_date,origin_city_name,condition,origin_city_condn
0,2020-01-01,"Aberdeen, SD",Overcast,cloundy
1,2020-01-01,"Abilene, TX",Partly cloudy,sunny
2,2020-01-01,"Adak Island, AK",Moderate or heavy snow showers,snow
3,2020-01-01,"Aguadilla, PR",Patchy rain possible,low_rainny
4,2020-01-01,"Akron, OH",Heavy snow,harzard

In [9]:
flights = pd.read_csv('data/flights-2018-2019.csv')
origin_df = df[['fl_date', 'origin_city_name']]
origin_df.shape

(14600, 2)

In [10]:
origin_df.head(5)

      fl_date origin_city_name
0  2018-01-01        Tampa, FL
1  2018-01-01  New Orleans, LA
2  2018-01-01  New Orleans, LA
3  2018-01-01  New Orleans, LA
4  2018-01-01  New Orleans, LA